{% extends "layouts/module_admin.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="Player">{{ _('Player')}}</a></li>
{% endblock %}
{% block module %}
<form  method="POST">
        <!-- Поля формы -->
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label class="form-label">{{ _('Command') }}</label>
            {{ form.command(class="form-control") }}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ _('Property min level') }}</label>
            {{ form.propertyMinLevel(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ _('Submit')}}</button>
</form>
{% endblock %}